.add-tag-col {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.chip-selected {
  border: 1px solid #f9aa33;
}

ion-item {
  ion-label,
  ion-input {
    color: #fff;
  }
}
.tag-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alert-danger {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
}
