<ion-header>
  <ion-toolbar>
    <ion-title>Edit transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="transactionForm">
    <ion-item no-padding lines="full" class="transaction-type">
      <ion-label>Select type</ion-label>
      <!--<ion-select formControlName="type" name="type" [(ngModel)]="tempTransaction.type">-->
        <!--<ion-select-option value="decrease" [selected]="true">Outcoming</ion-select-option>-->
        <!--<ion-select-option value="increase">Incoming</ion-select-option>-->
      <!--</ion-select>-->
      <ion-label>{{tempTransaction.type}}</ion-label>
    </ion-item>

    <ion-item *ngIf="type.value === 'decrease'" no-padding >
      <ion-label>Select category</ion-label>
      <ion-select formControlName="category" name="category" [(ngModel)]="tempTransaction.category">
        <ion-select-option value="{{x}}" *ngFor="let x of listOfCategories.slice(0,-1)">{{x}}</ion-select-option>
      </ion-select>
    </ion-item>


      <ion-item no-padding lines="full">
        <ion-label>Price</ion-label>
        <ion-input name="cost" formControlName="cost" placeholder="" type="number" [(ngModel)]="tempTransaction.cost"></ion-input>
      </ion-item>
      <ion-item no-padding lines="full">
        <ion-label>Comment</ion-label>
        <ion-input name="description" formControlName="description" [(ngModel)]="tempTransaction.description"></ion-input>
      </ion-item>
    <ion-item no-padding no-margin>
      <ion-label>Chose date</ion-label>
      <ion-datetime formControlName="date" displayFormat="MM/DD/YYYY" name="date" [(ngModel)]="tempTransaction.date"></ion-datetime>
    </ion-item>
        <p *ngIf="cost.invalid && (cost.dirty || cost.touched)" color="danger"
                 class="alert alert-danger">
          <span class="text-ios-danger">{{ errorSrv.getErrorMessage(transactionForm, 'cost', validation_messages) }}</span>
        </p>

        <p *ngIf="description.invalid && (description.dirty || description.touched)" color="danger"
                 class="alert alert-danger">
          <span class="text-ios-danger">{{ errorSrv.getErrorMessage(transactionForm, 'description', validation_messages) }}</span>
        </p>



    <app-tags
            *ngIf="tempTransaction.type == 'decrease'"
            [purchaseTags]="tempTransaction.tags"
    ></app-tags>
    <ion-row class="btn-container">
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="" (click)="cancel()">Cancel</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" (click)="submitPurchase()" color="orange" >
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
