
ion-header{
  --ion-toolbar-background: #344955;
  --ion-toolbar-color: #fff;

  ion-title{
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}
.ion-untouched {
  --highlight-background: white!important;
}

// @todo fix highlight-line for android

ion-content {
  ion-select {
    text-transform: capitalize;
  }
  ion-item {
    color: #fff;
    --highlight-background: white!important;
    &.ion-untouched {
      --highlight-background: white!important;
    }
    &.ion-invalid {
      --highlight-background: red;
    }
  }
  .btn-container {
    margin-top:20px;
    ion-button {
      --ion-color-contrast: #fff!important;
      color: #fff;
      height: 40px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      --border-radius: 0;
    }
  }
  .input-container {
    height: 20vh;
    .alert-danger {
      color: #f53d3d;
      font-size: 0.7rem;
    }
  }
  .transaction-type{
    display: flex;
    justify-content: space-between;
    ion-label {
      text-transform: capitalize;
    }
    ion-label:last-child{
      text-align: right;
    }
  }
  .alert-danger {
    color: var(--ion-color-danger);
    font-size: 0.8rem;
  }
}
