<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>main</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content no-padding>
    <ion-list class="product-list" padding-horizontal>
        <ion-list-header class="list-title">
            <span>Transaction history</span>
            <span *ngIf="showFilterCancel" class="cancel-filter" (click)="cancelFilter()">show all</span>
        </ion-list-header>
        <ion-item *ngFor="let x of transactions; let i = index" class="tr-cont-lvl1" no-padding>
            <div class="transaction-container" (click)="showButton(container)" #container tappable>
                <div class="col col-left" [style.border-left-color]="listOfColors[x.category]">
                    <div class="border">
                        <div class="description">{{x.description !== null ? x.description : ''}}</div>
                        <div class="datetime">{{x.date | date }}</div>
                    </div>
                </div>
                <div class="col" *ngIf="!showEditButton">
                    <div [className]="'cost ' + (x.type === 'decrease' ? 'decrease-color' : 'increase-color')">
                        {{x.cost}} грн
                    </div>
                    <div class="container-icons row">
                        <div class="edit-button col-6" (click)="addPurchase(x)" >
                            <ion-icon name="md-create"></ion-icon>
                        </div>
                        <div class="delete-button col-6" (click)="deletePurchase(x)" >
                            <ion-icon name="trash"></ion-icon>
                        </div>

                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
  <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">-->
    <!--<ion-infinite-scroll-content-->
            <!--loadingSpinner="bubbles"-->
            <!--loadingText="Loading more data...">-->
    <!--</ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
