<ion-header>
    <ion-toolbar>
        <ion-title>Office managment app</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="md-more" (click)="openPopover($event)"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card color="" no-padding no-margin class="balance-container">
        <ion-card-content>
            <p>Balance: {{storageSrv.balance}}</p>
            <p (click)="addMoney()"><ion-icon name="add"></ion-icon></p>
        </ion-card-content>
    </ion-card>
    <ion-list class="product-list" padding-horizontal>
        <ion-list-header class="list-title ion-text-center">
            <span>Transaction history</span>
            <span *ngIf="showFilterCancel" class="cancel-filter" (click)="cancelFilter()">show all</span>
        </ion-list-header>
        <ion-item *ngIf="showFilterCancel && !transactions.length" text-center>
            <ion-label color="danger">Filter return null</ion-label>
        </ion-item>
        <ion-item *ngFor="let x of transactions; let i = index" class="tr-cont-lvl1" no-padding>
            <div class="transaction-container" (click)="showButton(container)" #container tappable>
                <div class="col col-left" [style.border-left-color]="listOfColors[x.category]">
                    <div class="border">
                        <div class="description">{{x.description !== null ? x.description : ''}}</div>
                        <div class="datetime">{{x.date | date }}</div>
                    </div>
                </div>
                <div class="col" *ngIf="!showEditButton">
                    <div [className]="'cost ' + (x.type === 'decrease' ? 'decrease-color' : 'increase-color')">
                        {{x.cost}} UAH
                    </div>
                    <div class="container-icons row">
                        <div class="edit-button col-6" (click)="editTransactionClick(i)">
                            <ion-icon name="md-create"></ion-icon>
                        </div>
                        <div class="delete-button col-6" (click)="deleteTransactionClick(i)">
                            <ion-icon name="trash"></ion-icon>
                        </div>

                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">-->
    <!--<ion-infinite-scroll-content-->
    <!--loadingSpinner="bubbles"-->
    <!--loadingText="Loading more data...">-->
    <!--</ion-infinite-scroll-content>-->
    <!--</ion-infinite-scroll>-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addTransactionClick()" color="orange">
            <ion-icon name="add" color="dark"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
