<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="main"></ion-back-button> </ion-buttons>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="calendar-buttons">
    <ion-icon class="arrows" name="md-arrow-dropleft" color="orange" (click)="prevMonth()"></ion-icon>
    <span class="month-name">{{monthName}}</span>
    <ion-icon class="arrows" name="md-arrow-dropright" color="orange" (click)="nextMonth()"></ion-icon>
  </div>
  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{view.dates[row*7+col].label}}
  </ng-template>
  <calendar
            [monthviewDisplayEventTemplate]="template"
            [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onRangeChanged)="reloadSource(startTime, endTime)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            startingDayMonth="1"
            step="30">
  </calendar>
  <ion-card no-padding no-margin>
    <ion-card-header>
      Total
    </ion-card-header>
    <ion-card-content>
      {{monthSum}}
    </ion-card-content>
  </ion-card>
  <ion-card no-padding no-margin>
    <ion-card-header>
      List of purchases
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let trans of transactionsByMonth">
        <ion-col size="2">
          {{trans.cost}}
        </ion-col>
        <ion-col size="4">
          {{trans.description}}
        </ion-col>
        <ion-col size="6">
          {{trans.date | date}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
