ion-header {
  --ion-toolbar-background: #344955;
  --ion-toolbar-color: #fff;
  ion-buttons {
    --ion-color-primary: #fff;
  }
}
::ng-deep .monthview-primary-with-event {
  background: #f9aa33!important;
}
::ng-deep .monthview-selected {
  background: none!important;
  color: #000!important;
  box-shadow: inset 0 0 1px 1px #f9aa33;
}
ion-card{
  ion-card-content,
  ion-card-header{
    color: #fff;
  }
}
.calendar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .arrows {
    margin: 0 10px;
    font-size: 2rem;
  }
  .month-name {
    color: #fff;
    font-size: 1.3rem;
  }
}
.balance {
  ion-card-content {
    display: flex;
    justify-content: space-between;
  }
}
.purchase-list {
  ion-card-header {
    text-align: center;
    border-bottom: 1px solid #f9aa33;
  }
  ion-card-content {
    ion-row {
      border-bottom: 1px solid #f9aa33;
      padding:10px 0;
    }
  }
}
.col-left {
  border-left-width: 4px;
  border-left-style: solid;
  //padding: 0 8px;
}
