<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="main"></ion-back-button> </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="logo">
    <div class="img-container">
      <img src="../../assets/icon/niger.png">
    </div>
  </div>
  <ion-row>
    <ion-button (click)="syncGoogle()">Synchronize</ion-button>
  </ion-row>
  <ion-row>

  </ion-row>
  <p class="name-tag">Tags</p>
  <app-tags
    [mode]="'settings'"
  ></app-tags>
</ion-content>
